
<mat-toolbar class='sn' color='primary'>
    <div ><span>News</span></div>

    <div><span>Our Work</span></div>
    
    <div><span>Future</span></div>

    <div><span>Articles</span></div>

    <div><span>OnGoingEvents</span></div>  
</mat-toolbar>

<mat-toolbar style="margin-top: 50px ; margin-left:250px; width:50rem; justify-content: center;" >
    <span><h2>ON GOING EVENTS.</h2></span>
</mat-toolbar>

<mat-card class="mc">
<mat-card-title align='center'>
    Clean City Starts from you
</mat-card-title>

<mat-card-subtitle class="subt">"Cleanliness is the only medicine to all the disease"</mat-card-subtitle>

<img mat-card-image class="img" src="https://i.pinimg.com/736x/ae/89/34/ae8934e3a95bff57e5f146ffd9e02899.jpg">

<mat-card-content>
    Se as we all know there are lots of pollution in ### area .So our team ongo have decided to make that
    area clean .which can only be possible with your support.so lets spare some time from your busy scheduled
    and try to return some kind of favour to this beautiful Earth.
    All the required information is provided.And also a registration button is provided below.So please kindly 
    registered yourself.Thankingyou
</mat-card-content>

<h3><b>Location :</b>   L.I.C Ground (Meerut)</h3>
<h3><b>Distance to be Covered :</b>   10km</h3>
<h3><b>Reaching time</b>   6:00am</h3>
<h2 align='center'>Register Your by clicking on the button.</h2>

<mat-card-actions align='center'><button >
    Register
</button></mat-card-actions>

<h3 align='center' style="margin-top: 50px;">For any enquiry or Help.Contact us on.</h3>
<h4><b>Contact No :</b>  324354657</h4>
<h4><b>Email Id :</b>  abc@gmail.com</h4>
</mat-card>



<mat-card class="s2"><mat-card-title align='center'>
         Blood Donate Camp   </mat-card-title> 
<mat-card-subtitle class="subt">"Donate Blood Donate Life"</mat-card-subtitle>
<img mat-card-image class="img" src="https://th.bing.com/th/id/OIP.7AfCkTHKiJbz43ukW7C-ZQHaEd?w=273&h=163&c=7&o=5&pid=1.7"/>
<mat-card-content>
    Se as we all know there are lots of problems related to blood.So our team ongo have decided to make a blood Donation Camp
    .Which can only be possible with your support.so lets spare some time from your busy scheduled
    and try to return some kind of favour to this beautiful Earth.
    All the required information is provided.And also a registration button is provided below.So please kindly 
    registered yourself.Thankingyou
</mat-card-content>

<h3><b>Location :</b>   L.I.C Ground (Meerut)</h3>
<h3><b>Reaching time</b>   6:00am</h3>
<h2 align='center'>Register Your by clicking on the button.</h2>

<mat-card-actions align='center'><button >
    Register
</button></mat-card-actions>
<h3 align='center' style="margin-top: 50px;">For any enquiry or Help.Contact us on.</h3>
<h4><b>Contact No :</b>  324354657</h4>
<h4><b>Email Id :</b>  abc@gmail.com</h4>
</mat-card>


<mat-card class="s2"><mat-card-title align='center'>
    Social Awareness Camp   </mat-card-title> 
<mat-card-subtitle class="subt">"The greatest Achievement of all ? Finding Yourself."</mat-card-subtitle>
<img mat-card-image class="img" src="https://th.bing.com/th/id/OIP._tYf99pq1oXpCbIt54OZkgHaFq?w=199&h=160&c=7&o=5&pid=1.7"/>
<mat-card-content>
    Social awareness is the ability to comprehend and appropriately react to both broad problems of society and interpersonal struggles. 
    This means that being socially aware relates to being aware of your environment, what's around you, 
    as well as being able to accurately interpret the emotions of people with whom you interact.
    So their is Camp organized by our team on Social Awarness.So please kindly show your interest towards it.Required Information is Given below.
</mat-card-content>
<h3><b>Location :</b>   L.I.C Ground (Meerut)</h3>
<h3><b>Reaching time</b>   6:00am</h3>
<h2 align='center'>Register Your by clicking on the button.</h2>
<mat-card-actions align='center'><button >
    Register
</button></mat-card-actions>
<h3 align='center' style="margin-top: 50px;">For any enquiry or Help.Contact us on.</h3>
<h4><b>Contact No :</b>  324354657</h4>
<h4><b>Email Id :</b>  abc@gmail.com</h4>
</mat-card>


<mat-card class="s2"><mat-card-title align='center'>
    Lockdown On Domestic Voilence   </mat-card-title> 
<mat-card-subtitle class="subt">"Stop it while you still have a voice."</mat-card-subtitle>
<img mat-card-image class="img" src="https://th.bing.com/th/id/OIP.4i8f6mrl2y6CI20nBKyRNAHaEh?w=300&h=183&c=7&o=5&pid=1.7"/>
<mat-card-content>
    Domestic violence can be so easy for people to ignore, as it often happens without any witnesses
     and it is sometimes easier not to get involved. Yet, by publicly speaking out against domestic violence, together we can challenge attitudes
     towards violence in the home and show that domestic violence is a crime and not merely unacceptable.
     So their is Camp organized by our team on Stoping of Domestic Volience.So please kindly show your interest towards it.Required Information is Given below.
</mat-card-content>
<h3><b>Location :</b>   L.I.C Ground (Meerut)</h3>
<h3><b>Reaching time</b>   6:00am</h3>
<h2 align='center'>Register Your by clicking on the button.</h2>
<mat-card-actions align='center'><button >
    Register
</button></mat-card-actions>
<h3 align='center' style="margin-top: 50px;">For any enquiry or Help.Contact us on.</h3>
<h4><b>Contact No :</b>  324354657</h4>
<h4><b>Email Id :</b>  abc@gmail.com</h4>
</mat-card>

<router-outlet></router-outlet>