.sn{
  //  margin-top: 50px;
   // margin-left: 100px;
    justify-content: space-between;
    width:1000px;
    
    margin-left: 150px;
    margin-top:20px;
    margin-bottom: 20px;
}


subt{
  margin-top:50px;
}

.mat-card{
  width:60%;
  margin-top:100px;
  margin-left: 200px;
  border:black;
  margin-bottom: 20px;
}

img{
  height:350px;
  margin-top:30px;
}
